@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Patrick+Hand&display=swap');

:root {
    --white-one: rgb(228, 228, 228);
    --white-two: rgb(252, 250, 250);
    --max-red: rgb(204, 58, 42);
    --ros-red: rgb(198, 38, 6);
    --grey: rgb(46, 47, 47);
    --black: rgb(20, 21, 21);
    --marcellus: 'Marcellus', serif;
    --open-sans: 'Open Sans', sans-serif;
    --patrick: 'Patrick Hand', cursive;
    /* Font Sizes */
    --base: 16px;
    --h1: 3.052rem;
    --h2: 2.441rem;
    --h3: 1.953rem;
    --h4: 1.563rem;
    --h5: 1.25rem;
    --p: 1rem;
    --small: 0.8rem;
    --smaller: 0.64rem;
    --smallest: 0.512rem;
    /* Heights */
    --nav-height: 60px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    overflow-y: scroll;
    background-color: var(--black);
    color: var(--white-two);
    font-size: var(--base);
}

body {
    /* overflow: hidden; */
}

/* ---
    Parent Container
--- */
#content {
    /* overflow-y: scroll; */
    /* height: 100%; */
    width: 100vw;
}

/* ---
    Global Styles and Resets
--- */
button {
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

header {
    overflow: hidden;
}

.overlay-image {
    background-color: rgba(0,0,0,0.35);
}

.home-section {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    gap: var(--smallest);           /* because it is a flex set to colum container */
    z-index: 3;
}

.home-section:nth-child(1)::after,
.home-section:nth-child(2)::after,
.home-section:nth-child(3)::after,
.page-header::after,
.section-head::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.home-section:nth-child(1)::after {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 50%, rgba(20,21,21,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 50%, rgba(20,21,21,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,0) 50%, rgba(20,21,21,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#141515",GradientType=1);
}
.home-section:nth-child(2)::after,
.home-section:nth-child(3)::after,
.page-header::after,
.section-head::after {
    background-color: rgba(0,0,0,0.45);
}

/* ---
    Text Styles
--- */
.text-container {
    gap: var(--smallest);           /* because it is a flex set to colum container */
    margin-left: var(--smaller);
    margin-right: var(--smaller);
    margin-bottom: var(--smaller);
}
.title-text {
    font-size: var(--h2);
    text-transform: uppercase;
    font-family: var(--marcellus);
    letter-spacing: 2px;
}
.sub-title-text {
    color: white;
    font-size: var(--p);
    font-family: var(--open-sans);
    font-weight: 300;
}

/* ---
    Button Styles
--- */
button {
    text-transform: uppercase;
    font-family: var(--open-sans);
    font-size: var(--small);
    font-weight: bold;
}
.primary-btn {
    padding: 1rem 2rem;
    width: 100%;
    color: var(--white-two);
    background-color: var(--ros-red);
    border: 2px solid transparent;
}
.primary-btn:hover {
    background-color: transparent;
    border: 2px solid var(--white-two);
    text-decoration: underline;
}
.secondary-btn {
    padding: 0.5rem 2rem;
    color: var(--ros-red);
    background-color: var(--white-two);
    border: 2px solid transparent;
}

/* ---
    Nav Container
--- */
/* --- MAIN NAVIGATION */
/* navigation parent styles */
.nav-container {
    position: fixed;
    z-index: 5;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--nav-height);
    background-color: var(--black);
    font-size: 1.35rem;
}
/* logo container */
.logo-container {
    font-family: var(--patrick);
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* navigation menu list */
.nav-list-container {
    position: fixed;
    top: var(--nav-height);
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--grey);
    transition: width 1000ms ease-in-out;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--open-sans);
}
.nav-list-container.hidden {
    width: 0;
    transition: width 1000ms ease-in-out;
}
.nav-menu-link {
    padding: var(--smaller) 0;
    text-transform: uppercase;
    font-size: var(--p);
}
/* navigation icon container */
.nav-menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ---
    Main Container
--- */
main {
    height: 100%;
}

.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-section > .section-head {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* ---
    Home Page
--- */
.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh repeat(2, 50vh);
    position: relative;
}
.home-section {
    position: relative;
    border-bottom: 3px solid var(--grey);
}
.home-section:nth-child(1) {
    margin-top: var(--h4);
    justify-content: flex-start;
}

.home-section:nth-child(1) > .section-container {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -12%);
}

/* ---
    Menu's Page
--- */
/* dropdown menu */
.drop-down-container {
    position: fixed;
    background-color: var(--ros-red);
    top: 60px;
    left: 0;
    right: 0;
    z-index: 4;
    text-align: center;
}
.drop-down-menu-title {
    color: var(--white-two);
    font-weight: bold;
    padding: var(--small) 0;
}
.drop-down-list-container {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--ros-red);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.drop-down-list-container > * {
    position: relative;
    width: 100%;
    padding: var(--smaller) 0;
}
.drop-down-list-item > * {
    color: var(--white-two);
    text-decoration: none;
}
.menu-section {
    position: relative;
}
.section-link-tag {
    position: absolute;
    top: -120px;
}
/* header */
.page-header {
    position: relative;
}
.page-header > .content-container {
    z-index: 3;
}
.menu-section-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.menu-section-title-container > h3 {
    font-family: var(--marcellus);
    text-transform: uppercase;
    font-size: var(--h4);
}
.menu-list-container {
    padding: var(--h4) 0;
    gap: var(--h4);
}
.menu-item-container {
    width: 85%;
    margin: 0 auto;
    gap: 10px;
}
.menu-item-title-icons-container {
    gap: 10px;
    align-items: center;
}
.food-item-title {
    font-family: var(--marcellus);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
}
.menu-item-icons-container {
    gap: 10px;
}
.menu-item-description-wrapper {
    font-family: var(--open-sans);
}
.options-text {
    font-style: italic;
}

/*---
    Footer
--- */
footer {
    background-color: var(--ros-red);
}
.footer-content-container {
    width: 90%;
    margin: 10px auto;
    gap: 20px;
}
/* TOP */
/* navigation */
.hz-nav-list-container {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: var(--open-sans);
    font-size: var(--small);
    text-transform: uppercase;
}
/* BOTTOM */
.social-box-container {
    text-align: center;
    gap: 20px;
}
/* social media icons */
.social-icons-container {
    justify-content: space-around;
    align-items: center;
    margin: 0 5rem;
    font-size: var(--h3);
}