@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Patrick+Hand&display=swap');

:root {
    --white-one: rgb(228, 228, 228);
    --white-two: rgb(252, 250, 250);
    --max-red: rgb(204, 58, 42);
    --ros-red: rgb(198, 38, 6);
    --grey: rgb(46, 47, 47);
    --black: rgb(20, 21, 21);
    --marcellus: 'Marcellus', serif;
    --open-sans: 'Open Sans', sans-serif;
    --patrick: 'Patrick Hand', cursive;
    /* Font Sizes */
    --base: 16px;
    --h1: 3.052rem;
    --h2: 2.441rem;
    --h3: 1.953rem;
    --h4: 1.563rem;
    --h5: 1.25rem;
    --p: 1rem;
    --small: 0.8rem;
    --smaller: 0.64rem;
    --smallest: 0.512rem;
    /* Heights */
    --nav-height: 60px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    overflow-y: scroll;
    background-color: var(--black);
    color: var(--white-two);
    font-size: var(--base);
}

body {
    /* overflow: hidden; */
}

/* ---
    Parent Container
--- */
#content {
    /* overflow-y: scroll; */
    /* height: 100%; */
}

/* ---
    Global Styles and Resets
--- */
button {
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

header {
    overflow: hidden;
}

.overlay-image {
    background-color: rgba(0,0,0,0.35);
}

.home-section {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* ---
    Text Styles
--- */
.title-text {
    font-size: 2.75rem;
    text-transform: uppercase;
    font-family: var(--marcellus);
}

/* ---
    Button Styles
--- */
.button-container {
}

.primary-btn {
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--ros-red);
    color: var(--white-two);
    text-transform: uppercase;
    font-family: var(--open-sans);
    font-size: 1.1rem;
}

/* ---
    Nav Container
--- */
/* navigation parent styles */
.nav-container {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--nav-height);
    background-color: var(--black);
    font-size: 1.35rem;
}
/* logo container */
.logo-container {
    font-family: var(--patrick);
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* navigation menu list */
.nav-list-container {
    position: absolute;
    top: var(--nav-height);
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--grey);
    transition: width 1000ms ease-in-out;
}
.nav-list-container.hidden {
    width: 0;
    transition: width 1000ms ease-in-out;
}
/* navigation icon container */
.nav-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ---
    Main Container
--- */
main {
    height: 100%;
}

.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-section > .section-head {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 15vh;
}

/* ---
    Home Page
--- */
.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.home-section:nth-child(1) {
    height: 80vh;
}