*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    /* overflow-y: scroll; */
}

body {
    overflow: hidden;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

header {
    overflow:hidden;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.menu-list-container {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100vw;
    background-color: red;
    transition: width 1000ms ease-in-out;
}

.menu-list-container.hidden {
    width: 0;
    transition: width 1000ms ease-in-out;
}